{%  extends "base.twig" %}

{%  block content %}
    <div class="col-sm-12 content">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Order</li>
        </ol>
        <div class="breadcrumb">
            <h2>Order</h2>
            <p>If this was a real store you would now give your information and money, and then you would receive whatever you select. But alas, none of that is actually implemented, we have however emptied your cart for you. Have a nice day!</p>
        </div>
    </div>
{%  endblock %}
